@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

:root {
    --pimary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', sans-serif;
    --primary-color: #3a2620;
    --seconday-color: #aa9581;
    --highlight-color: #416a8e;
    --light-highlight-color: #7a9fc2;
}

body {
    font-family: var(--pimary-font);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    height: 30px;
}

/*.row, .container {
    border: 1px solid #000;
}

.col-12 {
    background: #eee;
    border: 1px solid #FFF;
}*/